/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.header-logo{
	color: #fff;
	font-weight: bold;
}
.header-logo:hover{
	text-decoration: none;
	color: #fff;
}
.nav > li > a{
	color: #000;
}
.nav > li > a:hover{
	background-color: #ffd11a;
}
.nav > li > a:active{
	background-color: #ffd11a;
}
.textcenter{
	font-size: large;
    margin-top: 12px;
}
.textcenter{
	text-align: center;
}
.navbar-as{
	background-color: #ffd11a;
	color: #000;
}
.ml-10{
	margin-left: 10px;
}
.my-city{
	margin-left: 10px;
	color: #4747d1;
}
.new-image{
	height: 120px;
	min-height: 120px;
}
.panel-body h5{
	margin: 20px 0;
}
.product_amount{
	color: #ffd11a;
	font-size: large;
	font-weight: bold;
	text-align: center;
}
.individual_product_amount{
	color: #ffd11a;
	margin: 10px 0;
	font-size: 20px;
    font-weight: bold;
}
.navbar{
	margin-bottom: 0px;
	border-radius: 0px;
}
.bg-as{
	background-color: #ffd11a;
	height: 40px;
	padding: 0;
	width: 100%;
}
.customize-ins{
	width: 95%;
	float: right;
	border: 1px solid transparent;
    border-radius: 0px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0) inset;
}
.customize-ins:focus{
	border: none;
	outline: none;
}
.search-box{
	font-size: 14px;
	width: 5%;
    height: 34px;
    background-color: #fff;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0px;
    padding: 8px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0) inset;
    color: #555;
}
.modal-backdrop {
   background-color: #fff;
   opacity:0.9 !important;
}
.modal-content{
	border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 0px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
}
.close {
    font-size: 30px;
    font-weight: lighter;
    opacity: 0.9;
}
.review_section{
	height: 70px;
}
.more_details{
	height: 70px;
}
.more_details h5{
	border-bottom: 1px dashed;
    margin-left: 25%;
    cursor: pointer;
    width: 50%;
}
.less_detail_link{
	border-bottom: 1px dashed;
    cursor: pointer;
    float: left;
    width: 14%;
    display: none;
}
.more_detail_link{
	display: block;
}
.add_to_cart{
	width: 100%;
	background-color: #4d79ff;
	text-align: left;
	color: #fff;
	height: 40px;
	border-radius: 0px;
	margin: 10px 0;
}
.add_to_cart:hover{
	color: #fff;
}
.more_detail_section{
	display: none;
	width: 100%;
	float: left;
}
.related_products{
	width: 100%;
	float: left;
}
.related_products h4{
	font-size: 14px;
    margin-bottom: 20px;
    margin-left: 17px;
    text-transform: uppercase;
}
.review{
	width: 100%;
	float: left;
}
.panel-body{
	cursor: pointer;
}
.review_left{
	float: left;
	width: 20%;
	height: 150px;
	min-height: 150px;
}
.review_right{
	float: right;
	width: 80%;
	height: 100px;
	min-height: 100px;
}
.cicle_one{
	width:50px;
	height:50px;
	border-radius:25px;
	font-size:15px;
	color:#fff;
	line-height:50px;
	 margin-left: 30px;
	text-align:center;
	background:#aa80ff;
}
.cicle_two{
	width:50px;
	height:50px;
	border-radius:25px;
	font-size:15px;
	color:#fff;
	line-height:50px;
	 margin-left: 30px;
	text-align:center;
	background:#ffdb4d;
}
.left{
	float: left;
    width: 100%;
}
.star span{
	padding: 2px;
	color: #ff751a;
}
.cart_button{
	height: 34px;
	color: #fff;
	font-size: 12px;
	background-color: #6666cc;
}
.cart_count{
	height: 34px;
	color: #fff;
	font-size: 12px;
	background-color: #333399;
	margin-left: -5px;
}
.cart_count:hover{
	color: #fff;
}
.cart_button span{
	margin-right: 10px;
}
.cart_button:hover{
	color: #fff;
}
.overlay{
	display: none;
	height: 100%;
	width: 100%;
	position: absolute;
	background-color: #fff;
	opacity:0.9;
	z-index: 999;
}
.sidenav_content{
	height: 100%;
  right: -25%;
  display: none;
	top: 0;
	width: 25%;
	position: absolute;
	background-color: #fff;
	z-index: 999;
}
.my_cart_banner{
	width: 100%;
	float: left;
	background-color: #6666cc;
	height: 125px;
}
.side_nav_close{
	color: #fff;
}
.side_nav_close:hover{
	color: #fff;
}
.banner_content{
	color: #fff;
	font-size: 20px;
  font-weight: bold;
  margin-top: 95px;
}
.banner_content span{
	margin-left: 10px;
}
.bottom_div{
	bottom: 0;
	width: 100%;
	position: absolute;
}
.bottom_div .total_div{
	font-weight: bold;
	width: 30%;
	float: left;
	padding: 10px;
	height: 40px;
}
.bottom_div .total_div_count{
	font-weight: bold;
	width: 60%;
	padding: 10px;
	float: left;
	height: 40px;
	color: #ffd11a;
}
.check_button{
	width: 100%;
	background-color: #ffd11a;
	padding: 10px;
	text-align: left;
	color: #fff;
	font-weight: bold;
	border-radius: 0px;
}
.all_category{
	background-color: #fff;
	border-radius: 3px;
	height: 40px;
}
.all_category p{
	color: #6a6a6c;
	font-size: 12px;
	margin-top: 20px;
}
.left_side_menu{
	width: 100%;
	float: left;
	font-size: 12px;
}
.left_side_menu p{
	color: #6a6a6c;
	font-size: 12px;
	cursor: pointer;
	margin-left: 26%;
	margin-top: 11px;
}
.left_side_menu .active{
	color: #ffd11a;
}
.left_side_menu .inactive{
	color: #000;
	font-weight: bold;
}
.filter_section{
	font-size: 12px;
	color: #6a6a6c;
	padding: 15px;
}
.filter_section select{
	-webkit-appearance: none; 
   -moz-appearance: none;
   appearance: none; 
   background: none repeat scroll 0 0 transparent;
    border: medium none;
     background-repeat: no-repeat;
  background-size: 0.5em auto;
  background-position: right 0.25em center;
  padding-right: 1em;
}
.filter_section span{
	color: #6666cc;
	cursor: pointer;
}
.heading_section{
	color: #6a6a6c;
	padding: 15px;	
}
.heading_section p{
	padding: 8px;
}
.cart_list{
	width: 100%;
	float: left;
	height: 500px;
	overflow-y:auto; 
}
.individual_cart{
	margin: 20px;
}
.cart-image{
	height: 35px;
	width: 35px;
}
.remove_cart{
	font-size: 20px;
    margin-top: 10px;
}